module <%= @name.capitalize %>Controller 
<% @fields.each do |field| -%>

  class <%= field.name.capitalize %> < Kemalyst::Controller
    def call(context)
      html render("<%= @name %>/<%= field.name %>.<%= @language %>", "main.<%= @language %>")
    end
  end
<% end -%>
end
