class <%= @name.capitalize %>Mailer < BaseMailer
  def deliver(<%= @fields.map{|f| "#{f.name} : #{f.cr_type}"}.join(", ") %>)
    to "to@example.com"
    subject "Example Subject"
    body render("mailers/<%= @name %>_mailer.<%= @language %>", "mailer.<%= @language %>")
    super()
  end
end
